/* assets/css/main.css */
:root {
    /* Palet Warna Dark Mode ala Referensi */
    --bg-dark: #050b14;       /* Background utama sangat gelap */
    --bg-card: #0f172a;       /* Warna kartu sedikit lebih terang */
    --primary: #0ea5e9;       /* Biru neon (Cyan) untuk aksen */
    --text-main: #ffffff;
    --text-muted: #94a3b8;
    --danger: #ef4444;        /* Merah untuk tombol tertentu */
    --font-main: 'Inter', sans-serif; /* Gunakan font modern */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: var(--font-main);
    overflow-x: hidden; /* Mencegah scroll samping */
}

a { text-decoration: none; color: inherit; transition: 0.3s; }
ul { list-style: none; }
