:root {
    /* Settingan Warna Mirip Referensi */
    --bg-body: #050b14;       /* Hitam Pekat */
    --bg-card: #0f172a;       /* Biru Gelap Malam */
    --bg-input: #1e293b;      /* Abu Gelap untuk Input */
    --primary: #0ea5e9;       /* Biru Cyan Terang */
    --primary-hover: #0284c7;
    --text-main: #ffffff;
    --text-muted: #94a3b8;
    --border-color: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Font wajib */
}

body {
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.6;
}

a { text-decoration: none; color: inherit; }
li { list-style: none; }
